
@{
    ViewData["Title"] = "测试角色管理";
}
<div class="kit-table">
    <form class="layui-form" lay-filter="kit-search-form">
        <div class="kit-table-header">
            <div class="kit-search-btns">
                <a href="javascript:;" data-action="add" class="layui-btn layui-btn-small"><i class="layui-icon">&#xe608;</i> 新增数据</a>
                <a href="javascript:;" data-action="del-bulk" class="layui-btn layui-btn-small layui-btn-danger"><i class="layui-icon">&#xe640;</i> 批量删除</a>
            </div>
            <div class="kit-search-inputs">
                <div class="kit-search-keyword">
                    <input type="text" class="layui-input" id="keyword" name="keyword" placeholder="编码/名称" />
                    <button id="btnsearch"><i class="layui-icon">&#xe615;</i></button>
                </div>
                @*<div class="kit-search-more" id="kit-search-more">更多筛选<i class="layui-icon">&#xe61a;</i></div>*@
            </div>
        </div>
        @*<div class="kit-search-mored layui-anim layui-anim-upbit">
                <div class="kit-search-body">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名：</label>
                        <div class="layui-input-block">
                            <input type="text" name="account" lay-verify="required|username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">手机号码：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="mobile" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">电子邮箱：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" placeholder="请输入电子邮箱" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">出生日期：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="birth" name="birth" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kit-search-footer">
                    <button type="reset" class="layui-btn layui-btn-small layui-btn-primary kit-btn">重置</button>
                    <button lay-submit lay-filter="moresearch" class="layui-btn layui-btn-small kit-btn">确定</button>
                </div>
            </div>*@
    </form>
    <div class="kit-table-body">
        <table id="roles" lay-filter="roles"></table>
        <script type="text/html" id="rowtools">
            <a class="layui-btn layui-btn-mini" lay-event="roleusers">角色授权</a>
            <a class="layui-btn layui-btn-mini" lay-event="rolemenus">角色权限</a>
            <a class="layui-btn layui-btn-mini" lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
        </script>
    </div>
</div>
@section managerscripts
    {
    <script type="text/html" id="edit-tpl">
        <div style="margin: 10px">
            <form class="layui-form" action="" lay-filter="form-edit">
                <input type="hidden" id="Id" name="Id" value="{{d.role.Id}}" />
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label label-required">角色名：</label>
                        <div class="layui-input-inline">
                            <input type="text" id="RoleName" name="RoleName" lay-verify="required" value="{{d.role.RoleName}}" placeholder="请输入角色名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label label-required">角色编码：</label>
                        <div class="layui-input-inline">
                            <input type="text" id="EnCode" name="EnCode" lay-verify="required" value="{{d.role.EnCode}}" placeholder="请输入角色编码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label label-required">角色类型：</label>
                        <div class="layui-input-inline">
                            <div class="layui-input-inline">
                                <select id="Type" name="Type" lay-verify="">
                                    <option value=""></option>
                                    {{# layui.each(d.Types,function(index,item){ }}
                                    {{# if(item.id==d.role.Type){}}
                                    <option value="{{item.id}}" selected="selected">{{item.name}}</option>
                                    {{#}else{}}
                                    <option value="{{item.id}}">{{item.name}}</option>
                                    {{#};}}
                                    {{# }); }}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">排序：</label>
                        <div class="layui-input-inline">
                            <input type="number" id="SortCode" name="SortCode" value="{{d.role.SortCode}}" lay-verify="number" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态：</label>
                        <div class="layui-input-inline">
                            {{# var ischecked = d.role.IsEnableed === true?'checked':'';}}
                            <input type="checkbox" id="IsEnableed" name="IsEnableed" lay-skin="switch" lay-text="启用|禁用" {{ischecked}} value="{{d.role.IsEnableed}}">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注信息：</label>
                    <div class="layui-input-block">
                        <textarea id="Remark" name="Remark" placeholder="备注信息" class="layui-textarea">{{d.role.Remark}}</textarea>
                    </div>
                </div>
                <div class="layui-form-item" style="display: none;">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formEdit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/html" id="statustpl">
        {{#  if(d.IsEnableed ==true){ }}
        <span class="layui-btn layui-btn-small layui-btn-normal">启用</span>
        {{#  } else if(d.IsEnableed ==false) { }}
        <span class="layui-btn layui-btn-small layui-btn-danger">禁用</span>
        {{#  } else { }}
        <span>未知</span>
        {{#  } }}
    </script>
    <script>
        layui.use(['table', 'laydate'],
            function () {
                var table = layui.table,
                    $ = layui.jquery,
                    layer = layui.layer,
                    form = layui.form,
                    laytpl = layui.laytpl,
                    laydate = layui.laydate;

                var tableIns = table.render({
                    elem: '#roles',
                    height: 'full-50', //容器高度
                    url: '/demo/getroles',
                    page: true,
                    id: 'tbroles',
                    limit: 20,
                    cols: [
                        [
                            {
                                checkbox: true,
                                fixed: true
                            }, {
                                field: 'RoleName',
                                title: '角色名',
                                width: 110
                            },
                            {
                                field: 'EnCode',
                                title: '角色编码',
                                width: 110
                            },
                            {
                                field: 'SortCode',
                                title: '排序码',
                                width: 100
                            }, {
                                field: 'IsEnableed',
                                title: '当前状态',
                                align: 'center',
                                templet: '#statustpl',
                                width: 100
                            }, {
                                field: 'CreateTime',
                                title: '添加时间',
                                width: 200,
                                sort: true
                            }, {
                                field: 'CreateUser',
                                title: '操作人',
                                width: 150
                                //sort: true
                            }, {
                                fixed: 'right',
                                title: '操作',
                                width: 325,
                                align: 'center',
                                toolbar: '#rowtools'
                            }
                        ]
                    ],
                    done: function (res, curr, count) {
                        //console.info(res.data);
                        //如果是异步请求数据方式，res即为你接口返回的信息。
                        //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                        // console.log(res);
                        // //得到当前页码
                        // console.log(curr);
                        // //得到数据总量
                        // console.log(count);
                    },
                    loading: true,
                    method: 'post'
                });

                form.render(null, 'kit-search-form');

                var editIndex;
                //提交
                form.on('submit(formEdit)',
                    function (form) {
                        //console.log(data);
                        //layer.msg('formEdit');
                        //editIndex && layer.close(editIndex); //关闭弹出层

                        $.formSubmit({
                            winindex: editIndex,
                            showMsg: true,
                            url: "/demo/saverole",
                            data: form.field
                        });

                        tableIns.reload();
                        return false;
                    });

                //搜索表单提交
                $('#btnsearch').on('click',
                    function () {
                        var keyword = $('#keyword').val();
                        //带条件查询
                        tableIns.reload({
                            where: { 'keyword': keyword }
                        });
                        return false;
                    });


                //工具条操作
                table.on('tool(roles)',
                    function (obj) { //注：tool是工具条事件名，users是table原始容器的属性 lay-filter="对应的值"
                        var data = obj.data; //获得当前行数据
                        var layEvent = obj.event; //获得 lay-event 对应的值
                        var tr = obj.tr; //获得当前行 tr 的DOM对象

                        if (layEvent === 'detail') { //查看
                            layer.msg(JSON.stringify(data));
                            //do somehing
                        } else if (layEvent === 'del') { //删除
                            layer.confirm('确定要删除当前数据吗？',
                                function (index) {
                                    obj.del(); //删除对应行（tr）的DOM结构
                                    layer.close(index);
                                    //向服务端发送删除指令
                                });
                        } else if (layEvent === 'edit') { //编辑
                            var d = {
                                user: data,
                                Nations: staticData.nations
                            };
                            //do something
                            laytpl($('#edit-tpl').html()).render(d,
                                function (html) {
                                    layer.open({
                                        type: 1,
                                        title: '编辑用户信息',
                                        content: html,
                                        area: ['80%', '85%'],
                                        btn: ['提交', '重置', '取消'],
                                        yes: function (index, layero) {
                                            editIndex = index;
                                            $('form[lay-filter="form-edit"]').find('button[lay-submit]').click();
                                        },
                                        btn2: function (index, layero) {
                                            $('form[lay-filter="form-edit"]').find('button[type="reset"]').click();
                                            return false;
                                        },
                                        success: function () {
                                            $('#Account').removeAttr('lay-verify').attr('disabled', true).addClass('layui-disabled');
                                            $('#MobilePhone').removeAttr('lay-verify').attr('disabled', true).addClass('layui-disabled');

                                            laydate.render({
                                                elem: '#Birthday',
                                                value: data.Birthday,
                                                format: 'yyyy-MM-dd'
                                            });
                                            form.render(null, 'form-edit');
                                        }
                                    });
                                });
                            //同步更新缓存对应的值
                            // obj.update({
                            //     username: '123',
                            //     title: 'xxx'
                            // });
                        }
                    });

                $('.kit-search-btns').children('a').off('click').on('click',
                    function () {
                        var $that = $(this),
                            action = $that.data('action');
                        switch (action) {
                            case 'add':
                                var d = {
                                    role: {
                                        Id: 0,
                                        RoleName: '',
                                        EnCode: '',
                                        Type: -1,
                                        SortCode: 1,
                                        IsEnableed: true,
                                        Remark: ''
                                    },
                                    Types: staticData.types
                                };
                                //渲染
                                laytpl($('#edit-tpl').html()).render(d,
                                    function (html) {
                                        layer.open({
                                            type: 1,
                                            title: '新增角色信息',
                                            content: html,
                                            area: ['80%', '65%'],
                                            btn: ['提交', '重置', '取消'],
                                            yes: function (index, layero) {
                                                editIndex = index;
                                                $('form[lay-filter="form-edit"]').find('button[lay-submit]').click();
                                            },
                                            btn2: function (index, layero) {
                                                $('form[lay-filter="form-edit"]').find('button[type="reset"]').click();
                                                return false;
                                            },
                                            success: function () {
                                                form.render(null, 'form-edit');
                                            }
                                        });
                                    });
                                break;
                        }
                    });
            });

        var staticData = {
            types: [
                {
                    id: 1,
                    name: '系统类型'
                }, {
                    id: 2,
                    name: '业务类型'
                }
            ]
        };
    </script>
}
